.hero {
    background-color: #1F2937;
    padding-right: 100px;
    padding-left: 100px;
}

.hero-header {
    display: flex;
    padding-top: 10px;
}

.head-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-body {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.body {
    width: 50%;
}

.img {
    width: 50%;
    height: 200px;
    text-align: center;
    line-height: 200px; 
    background-color: grey;
    color: white;
}

.body-title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.body-body {
    font-size: 18px;
    color: #e5e7eb;
}

.btn-signUp {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 8px 20px;
    border: 0;
    border-radius: 10%;
}

.main {
    text-align: center;
    margin: 50px 200px;
}

.main-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

.main-body-cont {
    display: flex;
    gap: 20px;
}

.main-img {
    width: 120px;
    height: 120px;
    border: 5px solid #3882F6;
    border-radius: 15%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.second-section {
    padding: 50px 220px;
    background-color: #e5e7eb;
}

.testimonial {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.writer {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    text-align: end;
}

.call-action {
    margin: 50px 180px;
    background-color: #3882F6;
    padding:40px 90px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.call-title {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 24px;
}

.call-sub {
    color: #e5e7eb;
    font-size: 18px;
}

.btn-call {
    background-color: #3882F6;
    color: #e5e7eb;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 20px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1F2937;
    color: #e5e7eb;
}

body {
    margin: 0;
}